# ----------------------------------------
# Files to maintain directory structure
# ----------------------------------------
!empty
!.gitkeep


# ----------------------------------------
# Default Files
# ----------------------------------------
*.DS_Store
*.log
*.mo
*.so
*.sw[op]
.ruby-version
.sass-cache
*.css.map
node_modules
bower_components