// ==========================================================================
// $Compass
// ==========================================================================

@import "compass";


// ==========================================================================
// $Demo
// ==========================================================================

$body-bg: red;

body {
    @include transition(transform .3s ease);
    background: $body-bg;
    color: white;
}